!.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
*.*~
*.bak
*.class
*.db
*.ear
*.ids
*.iml
*.ipr
*.iws
*.jar
*.launch
*.lock
*.log*
*.orig
*.out
*.pid
*.pydevproject
*.seed
*.swp
*.tmp
*.war
*~
*~.nib
.DS_Store
.Spotlight-V100
.Trashes
._*
.attach_pid*
.buildpath
.classpath
.cproject
.eslintcache
.externalToolBuilders/**
.factorypath
.gradle/
.grunt
.idea/
.loadpath
.lock
.lock-wscript
.merge_file*
.metadata
.project
.recommenders
.sass-cache/
.settings/
.svn
.vscode/
/.awcache/*
/.cache-loader/*
/bin/
/build/
/deploy/
/log/
/node/
/src/main/resources/rebel.xml
/src/test/javascript/coverage/
/target/
Desktop.ini
RemoteSystemsTempFiles
Thumbs.db
WebContent
classes/
coverage
dependency-reduced-pom.xml
hs_err_pid*
local.properties
logs/
node_modules/
node_tmp/
npm-debug.log.*
out/
tmp/
